<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_508969_n3hcqtm3kci0be29.css">
    <title>admin-lite</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
      <% if (true) { %>
      window.initData = {
        "name":"chaoshuai",
        "mobile":"1731755xxxx",
        "isAdmin":true,
        "beid":"53",
        "api":"https:\/\/t.takecloud.cn",
        "shopName":"未知事物研究所",
        "token":"fa0d9d6e8ad94f93bbccf1278cb72569",
        "version":2
      };
      <% } else { %>
        window.initData = <?php View::display('initData') ?>;
      <% } %>
    </script>
  </body>
</html>
